@import "./variables";

h1 {font-size: $font-size-xl};
h2 {font-size: $font-size-lg};
h3 {font-size: $font-size-md};

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Popins', sans-serif;
    font-size: $font-size-base;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: $color-black;
    border: none;
    color: white;
    padding: 16px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: $color-red;
}

img {
    width: 100%;
    height: auto;
}

.hero-image {
    max-width: 339;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    overflow: hidden;
    border-radius: $border-radius;
}

// Header
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
    @media only screen and (min-width: 768px) {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}

.header-logo {
    color: $color-black;
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.header-nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header-button {
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header-button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: $border-radius;
    border: 2px solid transparent;
    font-size: $font-size-base;
    font-weight: 600;
    color: $color-black;
    &:hover {
        border: 2px solid $color-black;
    }
}

// Header - Navigation
.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
    & .button-hov {
        color: $color-black;
        padding: 10px;
        text-decoration: none;
        font-weight: 600;
        border: none;
        background: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        &.active {
            color: $color-gray;
        }
    }
}

// Author - HomePage
.author {
    padding: 10px 0;
    text-align: center;
}

.author-heading {
    margin-top: 10px;
    margin-bottom: 5px;
}

.author-body {
    font-size: $font-size-md;
    margin: 5px 0 40px 0;
}

// Home Article List
.articles-heading {
    margin-top: 4rem;
    font-weight: 600;
}

.article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list-date {
    font-size: $font-size-base;
    color: $color-gray;
    width: 260px;
    display: inline-block;
}

.article-ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    padding: 18px 0;
    font-size: 20px;
    cursor: pointer;
    transition: filter 0.1s;
}

@media only screen and (min-width: 768px) {
    .article-ul li {
        flex-direction: row;
        align-items: center;
    }

    .article-list-date {
        text-align: right;
    }
}

.article-ul li:not(:last-child) {
    border-bottom: 1px solid $color-gray;
}

.article-ul li:hover {
    filter: none;
}

.article-ul:hover li {
    filter: blur(3px);
}

.article-ul:hover li:hover {
    filter: none;
}

.pagination {
    font-size: 1.3rem;
    color: $color-gray;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
    border: none;
    background: none;
    &:hover {
        color: $color-black;
        cursor: pointer;
    }
}

.pagination-newer {
    font-size: 1.3rem;
    color: $color-gray;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
    border: none;
    background: none;
    margin-left: 50%;
    &:hover {
        color: $color-black;
        cursor: pointer;
    }
}

.articles {
    white-space: pre-wrap;
}

// Footer
.footer {
    margin: 4rem;
    text-align: center;
}

// SearchBar
.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: $color-black;
    padding: 8px 0;
    position: absolute;
    left: 0;
    right: 0;
    &.open {
        transform: translateY(0);
        transition: transform 0.1s;
        visibility: visible;
    }
    & input {
        margin: 0;
        padding: 0;
    }
}

#searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-gray-light;
    padding: 10px;
    cursor: pointer;
}

// Dashboard Admin
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts {
    padding: 0;
    margin: 0;
    & li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
}

.admin-post-controls {
    display: inline-block;
    &.btn {
        display: inline-block;
        background-color: $color-black;
        color: $color-gray-light;
        border: 0;
        text-decoration: none;
        font-size: .8rem;
        padding: 4px 8px;
        line-height: 2;
    }
}